*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background\ img.jpg);
    background-size: cover;
}
.calculator{
    height: 70vh;
    width: 40vh;
    border: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.5);
    margin-top: 5vh;
    text-align: center;
}
input{
    height: 6rem;
    width: 14rem;
    align-self: center;
    margin: 2rem 0 2rem 0;
    background-color: rgba(247, 242, 242, 0.4);
    border-radius: 20px;
    border: none;
    font-size: 2rem;
    text-align: end;
    color: white;
    outline: none;
}
input::placeholder{
    color: white;
    padding-right: 10px;
}
button{
    height: 50px;
    width: 42px;
    margin: 10px 3px 5px 3px;
    border-radius: 45%;
    border: gray;
    box-shadow: 0px 1px 2px gray;
    font-size: 20px;
}
button:hover{
    background-color: #f1af52;
    font-size: 22px;
    cursor: pointer;
}
